{{ if .Display }}
{{ if eq .Type "boolean" }}
type {{ .Name }} bool
{{ end }}

{{ if eq .Type "number" }}
type {{ .Name }} float32
{{ end }}

{{ if eq .Type "integer" }}
type {{ .Name }} int
{{ end }}

{{ if eq .Type "string" }}
type {{ .Name }} string
{{ if .Enum }}
    {{ $n := .Name }}
    {{ range .Enum.Options }}
        const {{ .Key }} {{ $n }} = "{{ .Value }}"
    {{ end }}
{{ end }}
{{ end }}

{{ if eq .Type "object" }}
type {{ .Name }} struct {
    {{ range .Fields }}
        {{ .Name }} {{ .Type }} `json:"{{ .Tag }}" form:"{{ .Tag }}" url:"{{ .Tag }}"`{{ end }}
}
{{ end }}

{{ if eq .Type "array" }}
type {{ .Name }} []{{ .Items.Name }}
{{ end }}
{{ end }}