{{ if eq .Type "object" }}
type {{ .Name }} struct {
    {{ range .Fields }}
        {{ .Name }} {{ .Type }} `json:"{{ .Tag }}"`{{ end }}
}
{{ end }}

{{ if eq .Type "array" }}
type {{ .Name }} []{{ .Items.Name }}
{{ end }}