package gen

import (
    "context"
    "net/http"

    "github.com/gin-gonic/gin"
)

{{ range .Structs }}
    {{ template "component.tmpl" . }}
{{ end }}

{{ range .Endpoints }}
    {{ template "service.tmpl" . }}
    {{ template "route.tmpl" . }}
{{ end }}
