func Use{{ .OperationId }}(router *gin.Engine, service {{ .OperationId }}Service) {
    router.GET("{{ .Path }}", func(ctx *gin.Context) {
        params:= {{ .OperationId }}Params{
            {{ range .Parameters }}{{
                .Name }}: ctx.Params.ByName("{{ .Key }}"),
            {{ end }}
        }

        var query {{ .OperationId }}Query
        errQuery := ctx.ShouldBindQuery(&query)

        var body {{ .OperationId }}Body
        errBody := ctx.ShouldBind(&body)

        request := {{ .OperationId }}Request{
            params,
            query,
            body,
        }

        err := errQuery
        if err == nil {
            err = errBody
        }

        response := service.{{ .OperationId }}(ctx.Request.Context(), request, err)

        ctx.IndentedJSON(http.StatusOK, response)
    })
}