func Use{{ .Name }}(router *gin.Engine, service {{ .Name }}Service) {
    router.{{ .Verb }}("{{ .Path }}", func(ctx *gin.Context) {
        params:= {{ .Name }}Params{
            {{ range .Params }}
                {{ if eq .Type "int" }}
                    {{ .Name }}: GetInteger(ctx, "{{ .Key }}"),
                {{ else }}
                    {{ .Name }}: ctx.Param("{{ .Key }}"),
                {{ end }}
            {{ end }}
        }

        header:= {{ .Name }}Header{
            {{ range .Header }}
                {{ if eq .Type "int" }}
                    {{ .Name }}: GetIntegerHeader(ctx, "{{ .Key }}"),
                {{ else }}
                    {{ .Name }}: ctx.Request.Header.Get("{{ .Key }}"),
                {{ end }}
            {{ end }}
        }

        var query {{ .Name }}Query
        err := ctx.ShouldBindQuery(&query)
        if err != nil {
            ctx.IndentedJSON(http.StatusBadRequest, err.Error())
            return
        }

        var body {{ .Name }}Body
        err = ctx.ShouldBind(&body)
        if err != nil {
            ctx.IndentedJSON(http.StatusBadRequest, err.Error())
            return
        }

        request := {{ .Name }}Request{
            params,
            query,
            header,
            body,
        }

        response, err := service.{{ .Name }}(ctx, request)
        if err != nil {
            ctx.IndentedJSON(http.StatusInternalServerError, err.Error())
            return
        }
        {{ range .Response.Options }}
            if response.{{ .Type.Name }} != nil {
                ctx.IndentedJSON({{ .Code }}, response.{{ .Type.Name }})
                return
            }
        {{ end }}
        {{ if .Response.Default }}
            ctx.IndentedJSON({{ .Response.DefaultCode }}, nil)
        {{ else }}
            ctx.IndentedJSON(http.StatusInternalServerError, nil)
        {{ end }}
    })
}