router.GET("{{ .Path }}", func(ctx *gin.Context) {
    params:= Params{
        {{ range .Parameters }}
            {{ .Name }}: ctx.Params.ByName("{{ .Name }}"),
        {{ end }}
    }

    var query Query
    err := ctx.ShouldBindQuery(&query)

    var body Body
    err := ctx.ShouldBind(&body)

    request := Request{
        params,
        query,
        body,
    }

    var service Service
    response := service.Service(ctx.Request.Context(), request)

    ctx.IndentedJson(http.StatusOk, response)
})
