type {{ .Name }}Params struct {
    {{ range .Parameters }}
        {{ .Name }} {{ .Type }}
    {{ end }}
}

type {{ .Name }}Query struct {
{{ range $key, $value := .Query }}
    {{ $key }} {{ $value.Type }} `form:"{{ $value.Property }}"`{{ end }}
}

type {{ .Name }}Body struct {
{{ range $key, $value := .Body }}
    {{ $key }} {{ $value.Type }} `form:"{{ $value.Property }}"`{{ end }}
}

type {{ .Name }}Request struct {
    {{ .Name }}Params
    {{ .Name }}Query
    {{ .Name }}Body
}

type {{ .Name }}Response struct {
{{ range $key, $value := .Responses }}
    *{{ $value.Type }}{{ end }}
}

type {{ .Name }}Service interface {
    {{ .Name }}(
        ctx context.Context,
        request {{ .Name }}Request,
        err error,
    ) {{ .Name }}Response
}

