type {{ .OperationId }}Params struct {
    {{ range .Parameters }}
        {{ .Name }} {{ .Type }}
    {{ end }}
}

type {{ .OperationId }}Query struct {
{{ range $key, $value := .Query }}
    {{ $key }} {{ $value.Type }} `form:"{{ $value.Property }}"`{{ end }}
}

type {{ .OperationId }}Body struct {
{{ range $key, $value := .Body }}
    {{ $key }} {{ $value.Type }} `form:"{{ $value.Property }}"`{{ end }}
}

type {{ .OperationId }}Request struct {
    {{ .OperationId }}Params
    {{ .OperationId }}Query
    {{ .OperationId }}Body
}

type {{ .OperationId }}Response struct {
{{ range $key, $value := .Responses }}
    *{{ $value.Type }}{{ end }}
}

type {{ .OperationId }}Service interface {
    {{ .OperationId }}(
        ctx context.Context,
        request {{ .OperationId }}Request,
        err error,
    ) {{ .OperationId }}Response
}

